<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      console.log('index ejs loaded');
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr />
    <a href="/users">Users</a> |
    <a href="/wc-hello-world">wc-hello-world</a> |
    <a href="/wc-simple-popup">wc-Simple Popup</a> |
    <a href="/wc-counter">wc-Counter</a> |
    <a href="/wc-textbox-postcode">wc-Textbox-Postcode</a> |
    <a href="/wc-yes-no-selector">wc-Yes-No-Selector</a> |
    <a href="/custom-event-simple-textarea">Custom Event Simple Textarea</a> |
    <a href="/wc-comp1-with-events">Comp1 With Events</a> |
    <a href="/wc-shop">Shop - (comp + events)</a> |
  </body>
</html>
