<!DOCTYPE html>
<html>
  <head>
    <title>WC-Simple Popup</title>
    <script src="../javascripts/counter.js"></script>
    <script>

    </script>
  </head>
  <body>
    <h3><%= title %></h3>
    <hr />

    <my-counter value="100" step="5" max="150" min="2"></my-counter>
  
  </body>
</html>