<!DOCTYPE html>
<html>
  <head>
    <title>WC-Shop</title>
    <script src="../javascripts/mn-search.js"></script>
    <script src="../javascripts/mn-product.js"></script>
    <script>
    </script>
  </head>
  <body>
    <h3><%= title %></h3>
    <hr />

    <mn-search search-title="Product Search: "></mn-search>
    <br /> <br /><br />

    <mn-product id="mn-product-comp"
          product-title="Product Catalog"
          q="" >
    </mn-product>


    <script>
          document.addEventListener('search', e => {
          console.log('in doc');
          console.log(e.detail.text())
          
          var el_mn_product = document.querySelector('#mn-product-comp');
          console.log(el_mn_product);
          el_mn_product.setAttribute('q', e.detail.text());
        });
    </script>
  </body>
</html>